.place-card {
  cursor: pointer;
}

.place-card:hover {
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}


.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.yarr-small-margin {
margin: 5px 20px;
}

.yarr-btn-lg {
padding: 20px 50px;
}
