.place-card {
  cursor: pointer;
}

.place-card:hover {
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.settings-container .cuisine, .settings-container .location-type {
  cursor: pointer;
}

.settings-container .cuisine:hover, .settings-container .location-type:hover {
  opacity: 0.8;
}

.cuisines-container, .location-types-container {
  background-color: #4E5D6C;
  margin: 10px 0px;
  padding: 10px 0px;
}



.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.yarr-small-margin {
margin: 5px 20px;
}

.yarr-btn-lg {
padding: 20px 50px;
}

.yarr-large-margin-top
{
	margin-top: 100px;
}

.yarr-large-margin-bottom {
	margin-bottom: 100px;
}

#footer{
 background-color: #333;
 color: #fff;
 display: block;
 padding: 70px;
 padding-left: 0 !important;
 padding-right: 0 !important;
 margin: 0 !important;
 width: 100% !important;
}

.footer-info {
margin-bottom: 20px;
font-weight: lighter;
font-size: 18px;
}

.medium-opacity{
opacity: 0.6;
}

.yarr-header {
padding: 10px 0; 
border-bottom: #111 solid 2px;
height: 80px;
margin-bottom: 50px;
}

.yarr-search {
margin-top: 20px !important;
}

.yarr-container {
margin-bottom: 50px;
border-bottom: #ccc solid 1px;
padding-bottom: 30px;
}
.yarr-thumb{
	max-height: 300px;
	overflow:hidden;
	border: 1px #eee solid;
}

.yarr-thumb img{
border : 0;
padding: 0;
background:none;
border-radius: 0;
margin-top: -50px;
}

body {
background-color: #fefefe;
}

span {
	color : #bf3e11;
}

.yarr-stars{
vertical-align: bottom;
padding-top: 100px;
}

#map {
padding-left: 0px !important;
padding-right: 0px !important;
}

.main-container
{
	padding: 0px !important;
}

#hero{
-webkit-box-shadow: inset 1px -11px 48px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 1px -11px 48px -1px rgba(0,0,0,0.75);
box-shadow: inset 1px -11px 48px -1px rgba(0,0,0,0.75);
}

#hero img {
max-width: 102.1%;
height: auto;
margin-top: -70px;
position: relative;
z-index: -1;
}

#yarr-cover{
height: 500px;
overflow: hidden;
-webkit-box-shadow: inset 1px -11px 48px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 1px -11px 48px -1px rgba(0,0,0,0.75);
box-shadow: inset 1px -11px 48px -1px rgba(0,0,0,0.75);
}

#yarr-cover img
{
	margin-top: -100px;
	position: relative;
	z-index: -1;
}

.yarr-overlay{
opacity: 0.4;
position: absolute;
z-index: 100;
width:102%;
height:500px;
background-color: #000;
color: #fff;
}

#yarr-cover h1{
color: #fff;
z-index: 100;
width: 102%;
position:absolute;
}

i{
	margin: 0px 5px;
}

#settings span{
color: #fff !important;
}