<div class="row col-md-8 col-md-offset-2" ng-controller="IndexController">
  <div class="col-md-12">
    <div class="panel panel-default">
      <map center="{{[ places[0].location_lat, places[0].location_lon ]}}" zoom="12">
        <marker
          position="[{{ place.location_lat }}, {{ place.location_lon }}]"
          title="{{ place.name }}"
          ng-repeat="place in places"></marker>
      </map>
    </div>
  </div>
  <div class="col-md-12" style="margin-bottom: 20px;">
    <div class="col-md-6 col-md-offset-3">
      <form name="form" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchTerm" placeholder="Type a name or address... " autofocus />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 place-card" ng-repeat="place in places">
    <div class="panel panel-default container-fluid" ui-sref="place({ id: place.id })">
      <div class="row-fluid text-center" style="margin-top: 10px; margin-bottom: 5px;">
        <a href><img ng-src="{{ place.image_url }}" class="img-thumbnail" /></a>
      </div>
      <div class="row-fluid">
        <div class="panel-body text-center">
          <h3 style="margin-top: 0"><a href>{{ place.name }}</a></h3>
          <p>
            {{ place.address }}
          </p>
          <p ng-if="place.phone_number1">
            <b>Telefon:</b> {{ place.phone_number1 }}
          </p>
          <ratingstars mihai="{{ place.name }}" ng-model="place.average_stars" min="0" max="5" input-disabled="true" show-clear="false" size="sm" step="0.1"/>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <button class="btn btn-default" ng-click="loadMore()" ng-disabled="loading">
      More results &nbsp;
      <i class="glyphicon glyphicon-plus" ng-class="{ 'hidden': loading }"></i>
      <i class="glyphicon glyphicon-refresh fa-spin" ng-class="{ 'hidden': !loading }"></i>
    </button>
  </div>
</div>
