 <div class="col-md-10 col-xs-offset-1 " style=" margin-top: 100px; margin-bottom: 20px;">
   <div class="yarr-header"><h1 class="col-md-8">Login</h1></div>
    <form name="loginForm" ng-controller="AuthController"
          ng-submit="login(loginCredentials)" novalidate >
      <h1><label class="yarr-small-margin" for="username"><h2>Username</h2> </label>
      <input type="text" id="username"
             ng-model="loginCredentials.username">
      </h1>
      <h1>
      <label class="yarr-small-margin" for="password"><h2>Password</h2> </label>
      <input type="password" id="password"
             ng-model="loginCredentials.password">
      </h1>
      <button type="submit" class="btn btn-primary btn-lg yarr-btn-lg pull-right" style="margin-top: 20px; margin-bottom: 100px;">Login</button>
    </form>

  </div>
 

