<div class="row col-md-8 col-md-offset-2" style="margin-top:150px;">
  <div class="col-md-12 text-center">
    <form name="loginForm" ng-controller="AuthController"
          ng-submit="login(loginCredentials)" novalidate >
      <h1><label class="yarr-small-margin" for="username">Username </label>
      <input type="text" id="username"
             ng-model="loginCredentials.username">
      </h1>
      <h1>
      <label class="yarr-small-margin" for="password">Password </label>
      <input type="password" id="password"
             ng-model="loginCredentials.password">
      </h1>
      <button type="submit" class="btn btn-default btn-lg yarr-btn-lg yarr-small-margin pull-right col-xs-offset-10" style="margin-right: 18%;">Login</button>
    </form>

  </div>
</div>
