<div ng-controller="PlaceController" class="row">
  <div class="col-md-8">
    <h1>{{ place.name }}</h1>    
    <p>Address: {{ place.address }}</p>
    <ratingstars ng-model="place.average_stars" min="0" max="5" input-disabled="true" show-clear="false" size="sm" step="0.1"/>
    <b>{{ ratings.length }} reviews </b>
  </div>
  <div class="col-md-4">
    <map center="{{ [place.location_lat, place.location_lon] }}" zoom="13">
      <marker
      position="{{ [place.location_lat, place.location_lon] }}"
      title="{{ place.name }}"></marker>
    </map>
  </div>

  <div class="col-md-12 text-center">
    <button class="btn btn-default" ng-click="writeRating = true" ng-show="!writeRating && !userHasRating">
      Write a rating.
    </button>
  </div>

  <div class="col-md-12 text-center" ng-show="!writeRating && userHasRating">
    Your rating
    <ratingstars ng-model="ratingData.stars" min="0" max="5" input-disabled="true" show-clear="false" size="sm" step="1"/>
    <p>
      {{ ratingData.commentary }}
    </p>
    <br>
    <button class="btn btn-default" ng-click="writeRating = true">
      Edit
    </button>
  </div>

  <div class="col-md-12 text-center" ng-show="writeRating">
    Your rating
    <ratingstars ng-model="ratingData.stars" min="0" max="5" input-disabled="false" show-clear="false" size="sm" step="1"/>
    <textarea rows="4" cols="50" ng-model="ratingData.commentary">
    </textarea>
    <br>
    <button class="btn btn-default" ng-click="cancelWriteRating()">
      Cancel
    </button>
    <button class="btn btn-default" ng-click="submitRating()" ng-disabled="ratingData.stars == null || ratingData.commentary == null">
      Submit
    </button>
  </div>

  <div class="col-md-12">
    <h1> Reviews </h1>
  </div>

  <div ng-show="ratings.length > 0">
    <div ng-repeat="rating in ratings" class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <p><big><big><b>{{ rating.username }}</b></big></big></p>
          <p> at {{ rating.time }} <p>
        </div>
        <div class="col-md-10">
          <ratingstars ng-model="rating.stars" min="0" max="5" input-disabled="true" show-clear="false" size="sm" step="1"/>   
          <h3> {{ rating.commentary }} <h3>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-12 text-center">
      <button class="btn btn-default" ng-click="loadMoreRatings()" ng-disabled="ratingsLoading">
        More ratings &nbsp;
        <i class="glyphicon glyphicon-plus" ng-class="{ 'hidden': ratingsLoading }"></i>
        <i class="glyphicon glyphicon-refresh fa-spin" ng-class="{ 'hidden': !ratingsLoading }"></i>
      </button>
    </div>
  </div>

  <div ng-show="ratings.length == 0" class="col-md-12 text-center">
    <p><big> No reviews yet! <big></p>
  </div> 

</div>
