<div ng-controller="PlaceController" class="row">
  <div class="col-md-8">
    <h1>{{ place.name }}</h1>
    <p>Address: {{ place.address }}</p>
  </div>
  <div class="col-md-4">
    <map center="{{ [place.location_lat, place.location_lon] }}" zoom="13">
      <marker
      position="{{ [place.location_lat, place.location_lon] }}"
      title="{{ place.name }}"></marker>
    </map>
  </div>

  <div class="col-md-12">
    <h1> Reviews </h1>
  </div>

  <div ng-repeat="rating in ratings" class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <p><big><big><b>{{ rating.username }}</b></big></big></p>
        <p> at {{ rating.time }} <p>
      </div>
      <div class="col-md-10">
        <input type="number" rating-stars-value="{{ rating.stars }}" rating-stars-options="{disabled: true, showClear : false, size : 'sm', step : 1}">   
        <h3> {{ rating.commentary }} <h3>
      </div>
    </div>
    <hr>
  </div>

  <div class="col-md-12 text-center">
    <button class="btn btn-default" ng-click="loadMoreRatings()" ng-disabled="ratingsLoading">
      More ratings &nbsp;
      <i class="glyphicon glyphicon-plus" ng-class="{ 'hidden': ratingsLoading }"></i>
      <i class="glyphicon glyphicon-refresh fa-spin" ng-class="{ 'hidden': !ratingsLoading }"></i>
    </button>
  </div>

</div>
