<link href="../css/app.css" rel="stylesheet" type="text/css" />
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
<div class="row col-md-12 yarr-large-margin-top" ng-controller="RecommendController">
   <div class="col-md-10 col-xs-offset-1" style="margin-bottom: 20px;">
   <div class="yarr-header"><h1 class="col-md-8">Recommended restaurants</h1>
   </div>
   </div>
  <div class="col-md-10 place-card col-xs-offset-1" ng-repeat="place in recommendedPlaces">
    <div class="yarr-container container-fluid" ui-sref="place({ id: place.id })">
      <div class="col-md-6 row-fluid" style="margin-top: 10px; margin-bottom: 5px;">
       <div class="yarr-thumb"><a href><img style="width: 100%;" ng-src="{{ place.image_url }}" class="img-thumbnail" /></a></div>
      </div>
      <div class="col-md-6 row-fluid">
        <div class="panel-body">
          <h1 class="yarr-title" style="margin-top: 0"><a href>{{ place.name }}</a></h1>
          <p>
            {{ place.address }}
          </p>
          <p ng-if="place.phone_number1">
            <span style="font-weight: bold; font-size: 16px; color: #bf3e11;">Telefon:</span> {{ place.phone_number1 }}
          </p>
          <ratingstars mihai="{{ place.name }}" ng-model="place.average_stars" min="0" max="5" input-disabled="true" show-clear="false" size="sm" step="0.1"/>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-md-12 text-center yarr-large-margin-bottom">
    <button class="btn btn-primary btn-lg" ng-click="loadMore()" ng-disabled="loading">
      More results &nbsp;
      <i class="glyphicon glyphicon-plus" ng-class="{ 'hidden': loading }"></i>
      <i class="glyphicon glyphicon-refresh fa-spin" ng-class="{ 'hidden': !loading }"></i>
    </button>
  </div>
</div>
