<div ng-controller="SettingsController" class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="row-fluid">
      <h3>Please select a location (drag and resize the circle):</h3>
    </div>
    <div class="row-fluid">
      <map center="{{[ bucharestLat, bucharestLng ]}}" zoom="12">
        
        <shape ng-model="$parent.circle" name="circle" 
        stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" 
        fill-color="#FF0000" fill-opacity="0.35"
        editable="true"
        center="{{[ bucharestLat, bucharestLng ]}}" radius="1500">
        </shape>
      </map>
    </div>
    <div class="row-fluid">
      <h3>Please select cuisines:</h3>
    </div>

    <div class="row-fluid">
      <ui-select
        ng-model="$parent.selectedCuisines"
        multiple
        theme="bootstrap">
          <ui-select-match placeholder="Enter some cuisines...">{{ $item.name }}</ui-select-match>
          <ui-select-choices repeat="cuisine in cuisines track by cuisine.id">
            <div>{{ cuisine.name }}</div>
          </ui-select-choices>
      </ui-select>
    </div>

    <div class="row-fluid">
      <h3>Please select location types:</h3>
    </div>


    <div class="row-fluid">
      <ui-select
        ng-model="$parent.selectedLocationTypes"
        multiple
        theme="bootstrap">
          <ui-select-match placeholder="Enter some location types...">{{ $item.name }}</ui-select-match>
          <ui-select-choices repeat="locationType in locationTypes track by locationType.id">
            <div>{{ locationType.name }}</div>
          </ui-select-choices>
      </ui-select>
    </div>

    <div class="row-fluid" style="margin-bottom:300px;">
      <br>
      <button class="btn btn-default pull-right" ng-click="save()">Recommend</button>
    </div>
  </div>
</div>
