<div class='settings-container' ng-controller="SettingsController" class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <div class="row-fluid">
      <h3>Please select cuisines:</h3>
    </div>
    
    <div class="row-fluid cuisines-container">
      <div ng-repeat="cuisine in cuisines" class="col-md-4 cuisine">
        <label> <input type="checkbox" ng-model="cuisine.selected" value="{{ cuisine.id }}"> {{ cuisine.name }} </label>
      </div>
      <div class="clearfix"></div>
    </div>
    
    <div class="row-fluid">
      <h3>Please select location types:</h3>
    </div>

    <div class="row-fluid location-types-container">
      <div ng-repeat="locationType in locationTypes" class="col-md-4 location-type">
        <label> <input type="checkbox" ng-model="locationType.selected" value="{{ locationType.id }}"> {{ locationType.name }} </label>
      </div>
      <div class="clearfix"></div>
    </div>
    
    <div class="row-fluid">
      <button class="btn btn-default pull-right" ng-click="save()">Save Settings</button>
    </div>
  </div>
</div>
